.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    color: #fff;
    padding: 20px;
}

.social{
    display: flex;
    justify-content: space-around;
    transition: 3s;
}

.media{
    display: flex;
    border: 1px solid #fff;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
}

.icon{
    width: 20px;
}

.info{
    margin-left: 30px;
    /* display: none; */
}

.media:hover .info{
    display: block;
}